/* Global CSS reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body styles */
body {
	font-family: "Poppins", sans-serif; /* Font family */
}

/* Navigation styles */
nav {
	min-height: 10vh; /* Minimum height */
	display: flex; /* Flex container */
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
}

/* Logo styles */
.logo {
	font-size: 1rem; /* Font size */
	font-weight: 500; /* Font weight */
	color: rgb(33, 33, 33); /* Text color */
}

/* Picture claim styles */
.pic-claim {
	opacity: 0; /* Initial opacity */
	font-size: 0.8rem; /* Font size */
	color: rgb(187, 187, 187); /* Text color */
	transition: opacity 1s ease-in-out; /* Transition effect */
}

/* Hero section styles */
.hero-section {
	height: 80vh; /* Height */
	margin: 0 10%; /* Margin */
	position: relative; /* Position */
}

/* Hero image styles */
.hero-img {
	width: 100%; /* Width */
	height: 100%; /* Height */
	object-fit: cover; /* Cover image */
	backdrop-filter: brightness(60%); /* Filter effect */
}

/* Call-to-action styles */
.cta,
.cta-text {
	display: flex; /* Flex container */
}

/* Call-to-action container styles */
.cta {
	position: absolute; /* Position */
	top: 50%; /* Position from top */
	left: 50%; /* Position from left */
	transform: translate(-50%, -50%); /* Center alignment */
	color: #ffffff; /* Text color */
	flex-direction: column; /* Flex direction */
	align-items: center; /* Center items */
}

/* Call-to-action text styles */
.cta-text {
	font-size: 1.6rem; /* Font size */
	font-weight: 550; /* Font weight */
}

/* Overflow styles for logo and heading */
.logo,
.cta-text h1 {
	overflow: hidden; /* Hide overflow content */
}

/* Call-to-action text span styles */
.cta-text span {
	padding: 0 0.2rem; /* Padding */
	text-shadow: rgba(0, 0, 0, 0.4) 0 0 20px; /* Text shadow */
	display: block; /* Block display */
}

/* Call-to-action button styles */
.cta-btn {
	margin: 1rem; /* Margin */
	padding: 0.4rem 2rem; /* Padding */
	border-radius: 0.3rem; /* Border radius */
	background-color: #1f1f1f8f; /* Background color */
	font-family: inherit; /* Inherit font family */
	font-size: 0.7rem; /* Font size */
	color: #ffffff; /* Text color */
	font-weight: 500; /* Font weight */
	transition: background-color 0.4s ease-out; /* Transition effect */
	cursor: pointer; /* Cursor type */
}

/* Hover styles for call-to-action button */
.cta-btn:hover {
	background-color: #1f1f1f; /* Background color on hover */
	color: rgb(207, 207, 207); /* Text color on hover */
	border: 1px solid #1f1f1f; /* Border on hover */
}

/* Resume button styles */
.resume-btn {
	margin-top: 1rem; /* Margin top */
	padding: 0.4rem 2rem; /* Padding */
	border: 1px solid #1f1f1f; /* Border */
	border-radius: 0.3rem; /* Border radius */
	font-family: inherit; /* Inherit font family */
	font-size: 0.7rem; /* Font size */
	color: #1f1f1f; /* Text color */
	transition: background-color 0.4s ease-out; /* Transition effect */
	cursor: pointer; /* Cursor type */
}

/* Hover styles for resume button */
.resume-btn:hover {
	background-color: #1f1f1f; /* Background color on hover */
	color: rgb(207, 207, 207); /* Text color on hover */
}

/* Fade text transition */
#fade-text {
	transition: opacity 1s ease-in-out; /* Transition effect */
}

/* Move down class styles */
.move-down {
	margin-top: 15px; /* Margin top */
}

/* Flip horizontal class styles */
.flip-horizontal {
	-webkit-transform: scaleX(-1); /* Transform on Webkit */
	-moz-transform: scaleX(-1); /* Transform on Mozilla */
	-o-transform: scaleX(-1); /* Transform on Opera */
	transform: scaleX(-1); /* Transform */
}

/* Icons styles */
.icons {
	max-width: 5vh; /* Maximum width */
	max-height: 5vh; /* Maximum height */
	justify-content: center; /* Center content horizontally */
}

/* Middle class styles */
.middle {
	margin: 0; /* Margin */
	padding: 0; /* Padding */
	top: 50%; /* Position from top */
	transform: translateY(6%); /* Transform */
	width: 100%; /* Width */
	text-align: center; /* Text alignment */
}

/* Button styles */
.btn {
	display: inline-block; /* Inline block display */
	width: 60px; /* Width */
	height: 60px; /* Height */
	margin: 10px; /* Margin */
	border-radius: 30%; /* Border radius */
	box-shadow: -5px 5px 15px -5px #d6d6d6; /* Box shadow */
	overflow: hidden; /* Hide overflow */
	position: relative; /* Position */
	transition: 0.3s linear; /* Transition effect */
}

/* Button icon styles */
.btn i {
	line-height: 60px; /* Line height */
	font-size: 26px; /* Font size */
	transition: 0.3s linear; /* Transition effect */
}

/* Button colors based on index */
.btn:nth-child(1) i {
	color: #3b5998; /* Color */
}

.btn:nth-child(2) i {
	color: #1da1f2; /* Color */
}

.btn:nth-child(3) i {
	color: #c32aa3; /* Color */
}

.btn:nth-child(4) i {
	color: #db4437; /* Color */
}

/* Button hover styles */
.btn:hover {
	transform: scale(1.1); /* Scale effect on hover */
}

.btn:hover i {
	transform: scale(1.2); /* Scale effect on hover */
	color: #fff; /* Text color on hover */
}

/* Button before styles */
.btn:before {
	content: ""; /* Empty content */
	position: absolute; /* Position */
	width: 120%; /* Width */
	height: 120%; /* Height */
	transform: rotate(45deg); /* Transform */
	left: -110%; /* Position from left */
	top: 90%; /* Position from top */
}

/* Button colors based on index for before pseudo-element */
.btn:nth-child(1)::before {
	background: #3b5998; /* Background color */
}

.btn:nth-child(2)::before {
	background: #1da1f2; /* Background color */
}

.btn:nth-child(3)::before {
	background: #c32aa3; /* Background color */
}

.btn:nth-child(4)::before {
	background: #db4437; /* Background color */
}

/* Button hover before animation */
.btn:hover::before {
	animation: aaa 0.7s 1; /* Animation effect */
	top: -10%; /* Position from top */
	left: -10%; /* Position from left */
}

/* Keyframes animation for button before */
@keyframes aaa {
	0% {
	  left: -110%; /* Initial position from left */
	  top: 90%; /* Initial position from top */
	}
	50% {
	  left: 10%; /* Position from left at 50% */
	  top: -30%; /* Position from top at 50% */
	}
	100% {
	  left: -10%; /* Final position from left */
	  top: -10%; /* Final position from top */
	}
}

/* Section title styles */
.section-title {
	font-size: 3rem; /* Font size */
}
